@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --font-family-title: "Playfair Display", serif;
  --font-family-title2: "Lora", serif;
  --font-family-text: "Montserrat", sans-serif;
  --font-familyHeb: "Open Sans", sans-serif;

  --color-bg: radial-gradient(
    circle at 50% 50%,
    rgba(254, 254, 254, 1) 0%,
    rgba(253, 252, 253, 1) 100%
  );

  --color-bg2: #fefefe;
  --color-main: #09384b;
  --color-main-text: #09384b;
  --color-main-lighter: #e8f0ff;
  --color-accent: #ff4365;

  --color-text-main: rgba(41, 41, 41, 1);
  --color-p: #32353b;
  --color-p-secondary: #626881;

  --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --special-shadow-big: -10px 10px var(--color-main-lighter);
}

[color-scheme="dark"] {
  color-scheme: dark;
  --color-bg: radial-gradient(circle at 50% 50%, #292929 0%, #121212 100%);

  --color-bg2: #181818;

  --color-text-main: #f5f5f7;
  --color-main-text: #f5f5f7;
  --color-main-lighter: #e8f0ff;
  --color-p: #e2e2e2;
  --color-p-secondary: #c2c2c2;

  --box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

[color-scheme="light"] {
  color-scheme: light;

  --color-bg: radial-gradient(
    circle at 50% 50%,
    rgba(254, 254, 254, 1) 0%,
    rgba(253, 252, 253, 1) 100%
  );

  --color-bg2: #fefefe;

  --color-text-main: rgba(41, 41, 41, 1);
  --color-main-text: #09384b;
  --color-p: #32353b;
  --color-p-secondary: #626881;

  --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --special-shadow-big: -10px 10px var(--color-main-lighter);
}
